# Data Wrangling for MusicAnnotator

This Jupyter Notebook is intended for the data wrangling tasks required in the Music Annotator Project. We'll import necessary libraries, define constants, create utility functions, merge data sources, clean/process/explore the data, and save the results.

Things to consider:

-Filter out annotation data with low inter-rater reliability

## Import Libraries

In [1]:
# Import Libraries
import os
import glob
import pandas as pd
from ydata_profiling import ProfileReport
from IPython.display import IFrame

## Define Constants and Paths

In [2]:
# Define the path to the directories
annotations_path = '../data/annotations'
mp3_path = '../data/external/transformed_audio'

## Parse Annotations and Extract Data

In [26]:
# Function to extract data from annotation text files
def extract_data(file_path):
    """
    Reads tab or space separated data from a file.
    Args:
        file_path (str): The path of the file to read from.
    Returns:
        list: A list of lists with the stripped and split lines of the file.
    """
    with open(file_path, 'r') as file:
        return [line.strip().split() for line in file if line.strip()]

# Get a list of all mp3 filenames without extensions
mp3_files = {os.path.splitext(file)[0] for file in os.listdir(mp3_path) if file.endswith('.mp3')}

# Initialize a list to store data
data_list = []

# Iterate through all song_id directories in the annotations directory
for song_id in os.listdir(annotations_path):
    parsed_path = os.path.join(annotations_path, song_id, 'parsed')
    if os.path.isdir(parsed_path) and song_id in mp3_files:
        function_files = glob.glob(os.path.join(parsed_path, "*_functions.txt"))
        song_data = [extract_data(file_path) for file_path in function_files]
        
        # Flatten the list of lists and add chorus information
        for file_path in function_files:
            # Extract the annotator's number from the filename
            # Assuming the pattern is 'textfileN_functions.txt' where N is the annotator number
            file_name = os.path.basename(file_path)
            annotator = file_name.split('textfile')[-1].split('_')[0]
            annotator_data = extract_data(file_path)
            for timestamp, function in annotator_data:
                data_list.append({
                    'song_id': song_id,
                    'annotator': annotator,
                    'timestamp': timestamp,
                    'function': function
                })

# Create a DataFrame from the collected data
df = pd.DataFrame(data_list)
# Reorder columns if needed and reset index
df = df[['song_id', 'annotator', 'timestamp', 'function']]
df.reset_index(drop=True, inplace=True)

print(df.head())
print(df[['song_id','annotator']].nunique())
print(df[['song_id']].count())

  song_id annotator     timestamp     function
0    1000         1           0.0      Silence
1    1000         1   0.049342403        Intro
2    1000         1   8.848639455  no_function
3    1000         1  23.935464852        Verse
4    1000         1  35.661428571  no_function
song_id      571
annotator      2
dtype: int64
song_id    13116
dtype: int64

In [24]:
# Checking if there are any other functions we should account for
df[['function']].value_counts()

function
Verse              2025
Chorus             1819
Solo               1426
no_function        1412
Silence            1343
End                 904
Intro               790
Outro               500
Interlude           490
Instrumental        469
Transition          365
Bridge              345
Theme               308
Head                220
Pre-Chorus          171
silence             131
Coda                111
Main_Theme           74
post-chorus          45
Pre-Verse            24
Fade-out             23
break                22
applause             22
Secondary_Theme      21
stage_sounds          9
groove                6
Development           4
dialog                4
tag                   3
voice                 3
spoken_voice          3
post-verse            2
response              2
stage_speaking        2
Recap                 2
banjo                 2
crowd_sounds          2
variation_2           2
Secondary_theme       2
variation             1
variation_1           1
&pause                1
spoken                1
out                   1
count-in              1
build                 1
w/dialog              1
dtype: int64

## Extract Choruses Start & End Times + Calculate Duration

In [69]:
def extract_chorus_times_with_duration(df):
    """
    Extracts choruses and their durations from a DataFrame and excludes songs where there are two annotators
    but not both have annotated choruses.
    
    Args:
        df (DataFrame): The DataFrame to process.
        
    Returns:
        DataFrame: A DataFrame with choruses and their start, end, and duration.
    """

    # Convert 'timestamp' column to numeric (float) within the function to avoid altering the original DataFrame
    df['timestamp'] = pd.to_numeric(df['timestamp'], errors='coerce')

    # Create a DataFrame to hold chorus data
    chorus_data_list = []

    # Process each song and annotator group
    for (song_id, annotator), group in df.groupby(['song_id', 'annotator']):
        group = group.sort_values('timestamp').reset_index(drop=True)
        chorus_start = None
        for i, row in enumerate(group.itertuples()):
            if 'Chorus' in row.function and chorus_start is None:
                chorus_start = row.timestamp  # 'timestamp' is already a float after conversion
            elif chorus_start is not None and row.function not in ('Chorus'):
                chorus_end = row.timestamp
                chorus_duration = chorus_end - chorus_start
                if chorus_duration >= 3:
                    chorus_data_list.append({
                        'song_id': song_id,
                        'annotator': annotator,
                        'chorus_start': chorus_start,
                        'chorus_end': chorus_end,
                        'chorus_duration': chorus_duration
                    })
                chorus_start = None  # Reset the chorus start for the next chorus
            # If it's the last row and we're still in a chorus, we take the end as the last timestamp
            if chorus_start is not None and i == len(group) - 1:
                chorus_end = row.timestamp
                chorus_duration = chorus_end - chorus_start
                if chorus_duration >= 3:
                    chorus_data_list.append({
                        'song_id': song_id,
                        'annotator': annotator,
                        'chorus_start': chorus_start,
                        'chorus_end': chorus_end,
                        'chorus_duration': chorus_duration
                    })

    # Create DataFrame from the list of chorus data
    chorus_df = pd.DataFrame(chorus_data_list)

    # Count the number of unique annotators per song
    annotator_counts = df.groupby('song_id')['annotator'].nunique()

    # Identify songs that have two annotators
    two_annotator_songs = annotator_counts[annotator_counts == 2].index

    # Filter out songs that have two annotators but not both have annotated choruses
    valid_songs = []
    for song_id in two_annotator_songs:
        annotator_chorus_counts = chorus_df[chorus_df['song_id'] == song_id]['annotator'].nunique()
        # If both annotators have choruses, include the song_id
        if annotator_chorus_counts == 2:
            valid_songs.append(song_id)
    
    # Include songs that have only one annotator
    valid_songs.extend(annotator_counts[annotator_counts == 1].index)

    # Filter the chorus_df to only include valid songs
    filtered_chorus_df = chorus_df[chorus_df['song_id'].isin(valid_songs)]

    return filtered_chorus_df

# Extract chorus times and create a new DataFrame with durations
chorus_df_dur = extract_chorus_times_with_duration(df)
print(chorus_df_dur.head(), "\n")
print('Number of unique songs:', chorus_df_dur['song_id'].nunique(), "\n")
print('Total number of choruses:', chorus_df_dur.shape[0])

  song_id annotator  chorus_start  chorus_end  chorus_duration
0    1003         1    107.144059  118.560272        11.416213
1    1003         1    153.137029  176.392086        23.255057
2    1003         2     89.722358  118.502698        28.780340
3    1003         2    210.783991  239.428345        28.644354
4    1004         1     74.257415  112.743107        38.485692

Number of unique songs: 337

Total number of choruses: 1448

In [70]:
# List of songs to check that have chorus duration over a minute
chorus_df_dur.loc[chorus_df_dur['chorus_duration'] > 60]

     song_id annotator  chorus_start  chorus_end  chorus_duration
244     1092         1     39.352906  108.064000        68.711094
248     1092         2    132.128938  207.033281        74.904344
289     1112         1    160.276825  229.602449        69.325624
341     1131         1    207.403991  273.851429        66.447438
344     1132         1    150.401088  212.810884        62.409796
349     1135         1    218.928186  285.362290        66.434104
364     1146         1    251.634218  331.775601        80.141383
492     1190         1    113.631565  175.481270        61.849705
513     1196         1    156.435215  237.864104        81.428889
526     1202         1    183.692268  252.390907        68.698639
557     1213         1    215.053356  288.089977        73.036621
558     1214         1    170.906599  242.631678        71.725079
612     1236         1    212.114286  280.798912        68.684626
674     1263         1    232.663946  315.443084        82.779138
857     1326         1    134.845215  204.018934        69.173719
860     1327         1     89.323152  150.676145        61.352993
875     1333         1    106.413560  168.002608        61.589048
902     1341         1    320.614921  487.311995       166.697075
941     1356         1     77.775737  138.222018        60.446281
942     1356         1    198.659184  292.220340        93.561156
1087    1403         1    188.556848  252.656327        64.099478
1138    1422         2     60.891179  122.098798        61.207619
1220    1448         1    130.665034  198.610522        67.945488
1313    1492         1    270.897324  350.273016        79.375692
1314    1492         2     24.334467  140.140340       115.805873
1318    1494         1    226.422630  295.886667        69.464036
1322    1495         1    250.582018  320.598503        70.016485
1323    1496         1     52.444399  142.696803        90.252404
1358     229         2      0.426757   76.055646        75.628889
1359     229         2    144.988730  227.382222        82.393492
1362     276         1     10.031020  109.216893        99.185873
1437     596         1     13.034580  175.051383       162.016803
1438     596         2     13.028005   87.146735        74.118730
1439     596         2    111.936032  179.452880        67.516848
1498     884         1    326.960181  396.039546        69.079365
1507     898         1    320.889252  382.455873        61.566621
1531     959         2    582.621111  649.064422        66.443311
1545     967         1    551.506077  622.900930        71.394853
1548     967         2    551.690748  619.276190        67.585442
1596     984         1      4.997755   76.073946        71.076190
1620     994         1    159.011973  234.800952        75.788980

## Drop duplicate Choruses from Multiple Annotators

In [73]:
# Custom function to drop duplicates based on 'chorus_start' and 'chorus_end'
def drop_duplicate_choruses(df):
    """
    Deduplicates chorus entries in a DataFrame.
    Args:
        df (DataFrame): The DataFrame with chorus entries.
    Returns:
        DataFrame: A DataFrame with deduplicated chorus entries.
    """
    # Avoid directly modifying the original DataFrame
    df = df.copy()
    # Sort by 'song_id', 'chorus_start', 'chorus_end' to prepare for comparison
    df.sort_values(by=['song_id', 'chorus_start', 'chorus_end'], inplace=True)
    # Keep track of the rows to keep
    rows_to_keep = []

    for idx, row in df.iterrows():
        if not rows_to_keep:  # If list is empty, add the first row
            rows_to_keep.append(row)
        else:
            # Compare with the last added row
            last_row = rows_to_keep[-1]
            # Check if both start and end times are within 5 seconds
            if (row['song_id'] == last_row['song_id'] and
                abs(row['chorus_start'] - last_row['chorus_start']) <= 5 and
                abs(row['chorus_end'] - last_row['chorus_end']) <= 5):
                continue  # Skip this row as it's a near-duplicate
            else:
                rows_to_keep.append(row)  # Add unique row

    # Return DataFrame of unique rows
    return pd.DataFrame(rows_to_keep)

# Apply custom deduplication function
chorus_df = drop_duplicate_choruses(chorus_df_dur)

# Reset index for cleanliness
chorus_df.reset_index(drop=True, inplace=True)

print(chorus_df.head(), "\n")
print('Number of unique songs:', chorus_df['song_id'].nunique(), "\n")
print('Total number of choruses:', chorus_df.shape[0])

  song_id annotator  chorus_start  chorus_end  chorus_duration
0    1003         2     89.722358  118.502698        28.780340
1    1003         1    107.144059  118.560272        11.416213
2    1003         1    153.137029  176.392086        23.255057
3    1003         2    210.783991  239.428345        28.644354
4    1004         1     74.257415  112.743107        38.485692

Number of unique songs: 337

Total number of choruses: 1214

## Join metadata.csv and iTunes metadata info

In [99]:
# Load the metadata CSV into a DataFrame and select the relevant columns directly
metadata_df = pd.read_csv('../data/external/metadata.csv')[['SONG_ID', 'SONG_TITLE', 'ARTIST', 'CLASS', 'GENRE']]
# Convert 'SONG_ID' in metadata_df to categorical dtype
metadata_df['SONG_ID'] = metadata_df['SONG_ID'].astype('category')

# Assuming 'song_id' needs to be converted to categorical dtype in chorus_df
chorus_df['song_id'] = chorus_df['song_id'].astype('category')

# Perform the left join on the 'song_id' column from chorus_df and 'SONG_ID' from metadata_df
joined_meta = pd.merge(
    chorus_df,
    metadata_df,
    left_on='song_id',                 # 'song_id' from chorus_df
    right_on='SONG_ID',                # 'SONG_ID' from metadata_df
    how='left'                         # Left join to keep everything from chorus_df
)

# Drop the 'SONG_ID' column from metadata_df as it's redundant with 'song_id' from chorus_df
joined_meta.drop('SONG_ID', axis=1, inplace=True)

# Load the itunes data, rename 'Genre' column and perform a second merge
itunes_df = pd.read_csv('../data/external/SALAMI_iTunes_library.csv')
itunes_df.rename(columns={'Genre': 'Genre_itunes'}, inplace=True)
# Ensure that 'salami_id' is also categorical if it's not already
itunes_df['salami_id'] = itunes_df['salami_id'].astype('category')

# Merge the itunes_df with the joined_df
joined_meta_itunes = pd.merge(
    joined_meta,
    itunes_df[['salami_id', 'Genre_itunes', 'Album']],  # Select only the necessary columns
    left_on='song_id',               # 'song_id' from joined_df
    right_on='salami_id',            # 'salami_id' from itunes_df
    how='left'                       # Left join to keep everything from joined_df
)

# Drop the 'salami_id' column as it's redundant after the merge
joined_meta_itunes.drop('salami_id', axis=1, inplace=True)

# Display the first few rows of the final dataframe
joined_meta_itunes.head()
joined_meta_itunes[['GENRE', 'Genre_itunes']].nunique()

GENRE           0
Genre_itunes    0
dtype: int64

In [116]:
# Load the metadata CSV into a DataFrame and select the relevant columns
metadata_df = pd.read_csv('../data/external/metadata.csv')[['SONG_ID', 'SONG_TITLE', 'ARTIST', 'CLASS', 'GENRE']]

# Convert to strings, perform the filtering, and then convert to categorical if needed
metadata_df['SONG_ID'] = metadata_df['SONG_ID'].astype(str)
chorus_df['song_id'] = chorus_df['song_id'].astype(str)

# Filter metadata_df to only include rows with SONG_ID present in chorus_df's song_id
metadata_df_filtered = metadata_df[metadata_df['SONG_ID'].isin(chorus_df['song_id'])]

# Merge chorus and metadata 
joined_meta = pd.merge(
    chorus_df,
    metadata_df_filtered,
    left_on='song_id',
    right_on='SONG_ID',
    how='left'
)

# Drop the 'SONG_ID' column 
joined_meta.drop('SONG_ID', axis=1, inplace=True)

# Load the itunes data, rename 'Genre' column and perform a second merge
itunes_df = pd.read_csv('../data/external/SALAMI_iTunes_library.csv')
itunes_df.rename(columns={'Genre': 'Genre_itunes'}, inplace=True)

# Ensure that 'salami_id' is also 'str' 
itunes_df['salami_id'] = itunes_df['salami_id'].astype('str')

# Merge the itunes_df with the joined_df
joined_meta_itunes = pd.merge(
    joined_meta,
    itunes_df[['salami_id', 'Genre_itunes', 'Album']],  # Select only the necessary columns
    left_on='song_id',               # 'song_id' from joined_df
    right_on='salami_id',            # 'salami_id' from itunes_df
    how='left'                       # Left join to keep everything from joined_df
)
joined_meta_itunes[['song_id', 'annotator', 'CLASS', 'GENRE', 'Genre_itunes']] = joined_meta_itunes[['song_id', 'annotator', 'CLASS', 'GENRE', 'Genre_itunes']].astype('category')

print(joined_meta_itunes.head())
print()
print(joined_meta_itunes[['GENRE', 'Genre_itunes']].value_counts())
print()
print(joined_meta_itunes.info(),"/n")

  song_id annotator  chorus_start  chorus_end  chorus_duration    SONG_TITLE  \
0    1003         2     89.722358  118.502698        28.780340  Im_Moving_On
1    1003         1    107.144059  118.560272        11.416213  Im_Moving_On
2    1003         1    153.137029  176.392086        23.255057  Im_Moving_On
3    1003         2    210.783991  239.428345        28.644354  Im_Moving_On
4    1004         1     74.257415  112.743107        38.485692      Fearless

        ARTIST               CLASS GENRE salami_id Genre_itunes Album
0    Big_Water  Live_Music_Archive   NaN       NaN          NaN   NaN
1    Big_Water  Live_Music_Archive   NaN       NaN          NaN   NaN
2    Big_Water  Live_Music_Archive   NaN       NaN          NaN   NaN
3    Big_Water  Live_Music_Archive   NaN       NaN          NaN   NaN
4  Big_Whiskey  Live_Music_Archive   NaN       NaN          NaN   NaN

GENRE                              Genre_itunes
Country                            Country                              14
R_B_-_Gospel                       R&B - Gospel                         10
World_-_Balkan                     World - Balkan                       10
Humour                             Humour                               10
World_-_Klezmer                    World - Klezmer                       9
Classical_-_Classical              Classical - Classical                 8
Modern_Folk_-_Singer___Songwriter  Modern Folk - Singer / Songwriter     6
World_-_U_S__Traditional           World - U.S. Traditional              6
Classical_-_Renaissance___Med_     Classical - Renaissance & Med.        6
R_B_-_Contemporary_R_B             R&B - Contemporary R&B                4
R_B_-_Soul                         R&B - Soul                            4
Reggae                             Reggae                                4
World_-_African                    World - African                       4
World_-_Indian                     World - Indian                        4
Rock_-_Alternative_Metal___Punk    Rock - Alternative Metal / Punk       3
Alternative_Pop___Rock             Alternative Pop / Rock                3
R_B_-_Funk                         R&B - Funk                            2
Classical_-_Romantic               Classical - Romantic                  2
Classical_-_Baroque                Classical - Baroque                   1
World_-_Cuban                      World - Cuban                         1
dtype: int64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1214 entries, 0 to 1213
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   song_id          1214 non-null   category
 1   annotator        1214 non-null   category
 2   chorus_start     1214 non-null   float64
 3   chorus_end       1214 non-null   float64
 4   chorus_duration  1214 non-null   float64
 5   SONG_TITLE       1214 non-null   object
 6   ARTIST           1214 non-null   object
 7   CLASS            1214 non-null   category
 8   GENRE            111 non-null    category
 9   salami_id        111 non-null    object
 10  Genre_itunes     111 non-null    category
 11  Album            111 non-null    object
dtypes: category(5), float64(3), object(4)
memory usage: 95.4+ KB
None /n

In [119]:
joined_meta_itunes.columns

Index(['song_id', 'annotator', 'chorus_start', 'chorus_end', 'chorus_duration',
       'SONG_TITLE', 'ARTIST', 'CLASS', 'GENRE', 'salami_id', 'Genre_itunes',
       'Album'],
      dtype='object')

In [117]:
# Save file
joined_meta_itunes.to_csv(r'C:\Users\denni\OneDrive\Desktop\Springboard\MusicAnnotator\data\chorus_and_metadata.csv', index=False)

## Checking anomalies, ydata profile

In [118]:
profile = ProfileReport(joined_meta_itunes, title='Pandas Profiling Report', explorative=True)

# Save the profile report to a file
profile.to_file("wrangling_report.html")

# Display the profile in an iframe with custom width and height
IFrame(src='wrangling_report.html', width=1000, height=1600)

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

C:\Users\denni\anaconda3\Lib\site-packages\scipy\stats\_stats_py.py:112: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  warnings.warn("The input array could not be properly "
C:\Users\denni\anaconda3\Lib\site-packages\scipy\stats\_stats_py.py:112: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  warnings.warn("The input array could not be properly "
C:\Users\denni\anaconda3\Lib\site-packages\scipy\stats\_stats_py.py:112: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  warnings.warn("The input array could not be properly "
C:\Users\denni\anaconda3\Lib\site-packages\scipy\stats\_stats_py.py:112: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  warnings.warn("The input array could not be properly "
C:\Users\denni\anaconda3\Lib\site-packages\scipy\stats\_stats_py.py:112: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  warnings.warn("The input array could not be properly "

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]